name: publish
on: [push]
jobs:
  publish-psuniversal-persistent-storage-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: Build the PS Universal Docker image with persistent storage
        run: |
              docker build ./apps/psuniversal \
              --tag ghcr.io/penmoid/psuniversal-persistent-storage:4.1.8 \
              --tag ghcr.io/penmoid/psuniversal-persistent-storage:latest
              docker push --all-tags ghcr.io/penmoid/psuniversal-persistent-storage
  #publish-elasticsearch-6x-nextcloud-docker-image:
  #  runs-on: ubuntu-latest
  #  steps:
  #    - uses: actions/checkout@v2
  #    - name: Login to GitHub Container Registry
  #      uses: docker/login-action@v1
  #      with:
  #        registry: ghcr.io
  #        username: ${{ github.actor }}
  #        password: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  #    - name: Build the Elasticsearch Docker image with ingest-attachment plugin
  #      run: |
  #            docker build ./apps/elasticsearch-6x-nextcloud \
  #            --tag ghcr.io/penmoid/elasticsearch-6x-nextcloud:6.8.23 \
  #            --tag ghcr.io/penmoid/elasticsearch-6x-nextcloud:latest
  #            docker push --all-tags ghcr.io/penmoid/elasticsearch-6x-nextcloud
  #publish-elasticsearch-7x-nextcloud-docker-image:
  #  runs-on: ubuntu-latest
  #  steps:
  #    - uses: actions/checkout@v2
  #    - name: Login to GitHub Container Registry
  #      uses: docker/login-action@v1
  #      with:
  #        registry: ghcr.io
  #        username: ${{ github.actor }}
  #        password: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  #    - name: Build the Elasticsearch Docker image with ingest-attachment plugin
  #      run: |
  #            docker build ./apps/elasticsearch-7x-nextcloud \
  #            --tag ghcr.io/penmoid/elasticsearch-7x-nextcloud:7.17.9 \
  #            --tag ghcr.io/penmoid/elasticsearch-7x-nextcloud:latest
  #            docker push --all-tags ghcr.io/penmoid/elasticsearch-7x-nextcloud