name: publish
on: [push]
jobs:
  publish-psuniversal-persistent-storage-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: Build the PS Universal Docker image with persistent storage
        run: |
              docker build ./apps/psuniversal/dockerfile --tag ghcr.io/penmoid/psuniversal-persistent-storage:latest
              docker push ghcr.io/penmoid/psuniversal-persistent-storage:latest